* {
	margin: 0;
	padding: 0;
	font-family: verdana;
}

.navbar{
	position: relative;
	display: block;
	width: 900px;
	height: 50px;
	background-color: black;
	color: white;
	margin: 0 auto;
}

.container {
	display: block;
	position: relative;
	width: 900px;
	margin: 0 auto;
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	background-color: black;
	min-height: 50px;
	width: 900px;
	color: white;
}

footer p{
	margin-top: 15px;
	text-align: center;
}

header {
	position: fixed;
	display: block;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	z-index: 100;
}

.pagelink {
	color: gray;
}

.pagelink:hover{
	text-decoration: underline;
	color: gray;
}

.content {
	margin-top: 50px;
	min-height: 890px;
	padding-bottom: 50px;
}

#saveinfo{
	display: block;
	width: 100%;
}

#saveinfo input{
	padding: 10px;
	border: 1px solid black;
	margin: 5px 0;
	width: calc(100% - 22px);
}

.articlesform {
	display: block;
	width: 100%;
}

.articlesform input{
	padding: 10px;
	border: 1px solid black;
	margin: 5px 0;
	width: calc(100% - 22px);
}

.articlesform textarea{
	padding: 10px;
	border: 1px solid black;
	margin: 5px 0;
	width: calc(100% - 22px);
	resize: vertical;
}

.articlesform select{
	border: 1px solid black;
	height: 35px;
	margin: 5px 0;
	width: 100%;
	resize: vertical;
	border: 1px solid black;
	border-radius: 0;
}

.logo{
	color: white;
	position: absolute;
	left: 10px;
	top: 13px;
	font-size: 16pt;
}

.forms {
	z-index: 200;
}

.logo:hover{
	color: rgba(255, 255, 255, .9);
}

.logo:active{
	color: rgba(255, 255, 255, .7);
}

a{
	text-decoration: none;
	color: gray;
}

a:hover{
	color: rgba(0, 0, 0, .9);
}

a:active{
	color: rgba(0, 0, 0, .7);
}

.loginform {
	position: absolute;
	right: 0;
	top: 60px;
	display: none;
	padding: 10px;
	border: 1px solid black;
	width: 300px;
	background-color: white;
	z-index: 1000;
}

#registerform {
	position: absolute;
	right: 0;
	top: 60px;
	display: none;
	padding: 10px;
	border: 1px solid black;
	width: 300px;
	background-color: white;
	z-index: 1000;
}

#registerform input{
	padding: 10px;
	margin: 10px 0;
	width: calc(100% - 20px);
	border: 1px solid black;
	font-size: 10pt;
}

.loginform input{
	padding: 10px;
	margin: 10px 0;
	width: calc(100% - 20px);
	border: 1px solid black;
	font-size: 10pt;
}

#registerform a{
	text-decoration: none;
	color: gray;
	font-size: 10pt;
	float: right;
	margin: 10px 0 0 0;
}

.loginform a{
	text-decoration: none;
	color: gray;
	font-size: 10pt;
	float: right;
	margin: 10px 0 0 0;
}

#registerform a:hover{
	text-decoration: underline;
}

.loginform a:hover{
	text-decoration: underline;
}

.btn {
	padding: 10px;
	background-color: black;
	color: white;
	border: 1px solid black;
	width: calc(50% - 3px);
	font-size: 10pt;
	cursor: pointer;
}

.btn:hover{
	color: rgba(255, 255, 255, .9);
}

.btn:active {
	color: rgba(255, 255, 255, .7);
}

.user {
	position: absolute;
	display: block;
	left: 50%;
	height: 100%;
	min-width: 100px;
	transform: translate(-50%, 0);
	padding: 5px 5px 0 5px;
	cursor: pointer;
}

.user span{
	color: white;
}

.user a{
	display: block;
}

.user:hover{
	background-color: rgba(255, 255, 255, .3);
}

.userimage{
	display: block;
	overflow: hidden;
	float: left;
	border-radius: 100%;
	margin: 0 10px 0 0;
	height: 40px;
	width: 40px;
}

.userimage img{
	width: 100%;
}

.acountBTNS {
	position: relative;
	float: right;
	margin: 15px 0px 0 0;
}

.acountBTNS a{
	color: white;
	text-decoration: none;
	margin: 0 10px 0 0;
}

.stock {
	position: absolute;
	top: 60px;
	right: 10px;
}

.article_div {
	position: relative;
	margin-top: 20px;
	left: 0;
	width: calc(100% - 22px);
	height: 150px;
	border: solid 1px black;
	padding: 10px;
	z-index: 1;
}

.article_div:hover{
	background-color: rgba(0, 0, 0, .1);
}

#article_img {
	width: 150px;
	height: 150px;
	margin-left: 10px;
	border-radius: 50%;
}

#name_label {
	position: absolute;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 24px;
}

#link_block {
	position:absolute; 
  	width:100%;
  	height:100%;
  	top:0;
  	left: 0;
  	z-index: 1;
}

.article_desc {
	position: absolute;
	top: 35%;
	left: 22%;
	width: 65%;
	height: 85px;
	overflow: hidden;
}

#product_price {
	float: right;
	font-size: 40px;
}

#category {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;
	color: gray;
	font-size: 10pt;
}

.adm_ulist_user {
	position: relative;
	width: calc(100% - 5px);
	height: 50px;
	border: 1px solid;
}

#adm_ulist_user_img {
	position: absolute;
	display: block;
	float: left;
	left: 5px;
	top: 2.5px;
	padding: 5px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	overflow: hidden;
}

#adm_ulist_user_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.date {
	position: absolute;
	right: 250px;
	top: 10px;
	color: gray;
	font-size: 10pt;
}

#adm_ulist_user_name {
	position: absolute;
	top: 15%;
	font-size: 24px;
	left: 60px;
}

#adm_ulist_user_perm {
	position: absolute;
	font-size: 14px;
	right: 130px;
	top: 5px;
}

#permission_form {
	position: absolute;
	right: 130px;
	top: 25px;
}

#usr_delete_btn {
	width: 50px;
	height: 100%;
	border: none;
	background-color: black;
	float: right;
	border-left: 1px solid white;
}

#saveuserinfo {
	position: absolute;
	display: block;
	width: 70px;
	height: 51px;
	top: 0;
	right: 0;
	transform: translate(114%, -26px);
	border: none;
	background-color: black;
	float: right;
	color: white;
}

.addtocardform{
	position: absolute;
	display: block; 
	right: 0px; 
	top: 320px; 
	width: 50%;
}

.text {
	width: calc(100% - 22px);
	padding: 10px;
}

#delete_img {
	width: 10px;
	height: 10px;
}

.searchform {
	display: block;
	width: 100%;
}

.searchform select{
	display: block;
	width: 100%;
	max-height: 150px;
	resize: vertical;
}

.product_container {
	width: 100%;
	height: 400px;
	/*border: 1px solid;*/
}

#detailed_product_name {
	position: absolute;
	left: 44%;
	font-size: 22pt;
}

#detailed_product_price {
	position: absolute;
	right: 0;
	font-size: 36px;
}

.detailed_product_desc {
	position: absolute;
	left: 400px;
	height: 300px;
	overflow: scroll;
	top: 140px;
	width: 500px;
	height: 170px;
}

.comment_div {
	position: relative;
	width: 100 - 5px%;
	min-height: 100px;
	border: 1px solid;
}

.order_container {
	width: 100%;
}